<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>miniReddis</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css">
    <!--<link rel="icon" href="favicon.ico" type="image/x-icon">-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="../dynamic/script.js"></script>
    <div align="center">
        <label for="slider1">&#956;1</label>
        <input id="slider1" type="range" value="2" min="0" max="5" step="0.05"
            title="Amplitude générale du champ vitesse"
            oninput="this.nextElementSibling.value = Number.parseFloat(this.value).toFixed(2)">
        <output>2.00</output>
    </div>
    <div align="center">
        <label for="slider2">&#956;2</label>
        <input id="slider2" type="range" value="0.5" min="0.2" max="1" step="0.008"
            title="Amplitude de l'interface oscillante"
            oninput="this.nextElementSibling.value = Number.parseFloat(this.value).toFixed(2)">
        <output>0.50</output>
    </div>
    <div align="center">
        <label for="slider3">&#956;3</label>
        <input id="slider3" type="range" value="3" min="1" max="5" step="0.04"
            title="Temps où la source polluante cesse d'émettre"
            oninput="this.nextElementSibling.value = Number.parseFloat(this.value).toFixed(2)">
        <output>3.00</output>
    </div>
    <div align="center">
        <button id="calculs" onclick="onCalcul()" class="gros-button">
            <span class="round-button-content">Concentration en polluants</span>
        </button>
    </div>
    <div class="images_conteneur">
        <div class="layer1">
            <div align="center">
                <iframe src="" id="myimg1" allowtransparency="yes" scrolling="no"
                    style="background-color: rgb(76, 76, 76); display: none;" width="600" height="600" frameborder="0">
                </iframe>
            </div>
        </div>
        <div class="layer2">
            <div align="center">
                <iframe src="" id="myimg2" allowtransparency="yes" scrolling="no"
                    style="background-color: rgb(76, 76, 76); display: block;" width="600" height="600" frameborder="0">
                </iframe>
            </div>
        </div>
        <div class="layer3">
            <div align="center">
                <iframe src="" id="myimg3" allowtransparency="yes" scrolling="no"
                    style="background-color: rgb(76, 76, 76); display: none;" width="600" height="600" frameborder="0">
                </iframe>
            </div>
        </div>
    </div>
    <div align="center">
        <input id="slider4" type="range" value="0" min="0" max="6" step="0.05" title="Avancement de la simulation"
            oninput="this.nextElementSibling.value = Number.parseFloat(this.value).toFixed(2)">
        <output>0.00</output>
    </div>
    <div align="center">
        <button id="stop" class="round-button" disabled>
            <span class="round-button-content">Stop</span>
        </button>
        <button id="go" class="round-button">
            <span class="round-button-content">Go</span>
        </button>
    </div>
</head>
<body>
</body>
</html>